body {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(50, 167, 145);
  color: white;
  margin: 0 auto 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 50px;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 30px;
}

#trybewarts-header-title {
  font-size: 3em;
}

.trybewarts-login {
  display: flex;
  margin-right: 50px;
}

#name-lastname {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}

/* Main M */
main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 50px;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin-right: 70px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 10px;
}
